<% provide(:class, "login") %>
        
    <form>
        <input type="text" name="username" title="username">
        <label for="username">username</label>


        <input type="password" name="password">
        <label for="password">password</label>

        <input type="submit" value="log in">
    </form>
