@import 'pages';

.index {

    section {
        min-height:8em;
        margin:6% auto;
        display:flex;
        position:relative;
        @extend .title-before;

        a {
            display:flex;
            flex-grow:1;
            cursor:pointer;
            transition:all 100ms ease-in;
            border-bottom:1em solid $bg;
            margin:2px;
            padding:0.5em;
            color:rgba(255,255,255,0.2);
            &:hover {
                border-bottom-width:0em;
            }
            &.clicked {
                color:rgba(255,255,255,0.8);
                flex-grow:1.4;
            }
        }
        
        &:after {
            position:absolute;
            right:2px;
            top:-2em;
            text-transform:uppercase;
            color:#333;
            font-weight:bold;
            font-size:1.2em;
        }
        
        &.mood {
            @include options(#DB4874,#4BBFC3,6);
            a {
                img {
                    opacity:0.9;
                    margin:auto;
                    max-width:6em;
                    height:4em;
                    position:relative;
                    left:-0.2em;
                }
            }
            &:after {content:"(bad to good)";}
        }
        &.energy {
            @include options(#FFB44C,#31BF60,8);
            // E1D24C to 31BF60
            &:after {content:"(low to high)";}
        }
        &.pain {
            @include options(#4D1944,#B8413D,10);
            &:after {content:"(least to most)";}
        }
        &.fog {
            //@include options(#E0D7CC,#9DBFCC,8);
            @include options(#9DBFCC,#E0D7CC,8);
            &:after {content:"(clear to foggy)";}
        }

    }

    a.button {
        color:rgba(255,255,255,0.6);
        text-decoration:none;
        text-transform:uppercase;
        font-size:0.9em;
        padding:0.8em 2em;
        background:#4BBFC3;
        float:right;
        transition:all 100ms ease-in;
        &:hover {
            color:rgba(255,255,255,0.9);
            padding:0.8em 2.5em;
        }
    }

    input {
        float:right;
        margin-right:2em;
    }

    .submit,input {margin-top:-2em;}

    div.alert {
        display:none;
        position:fixed;
        top:25%;
        left:50%;
        width:30%;
        //height:25%;
        background:#111;
        padding-bottom:1em;
        transform:translateX(-50%);
        p {
            display:block;
            text-align:center;
            margin:2em;
            color:#eee;
        }
        a.button {
            float:none;
        }
    }

}
