@mixin options($from,$to,$boxes) {
    
    $b:$boxes + 1;

    @for $n from 1 to $b {
            a:nth-child(#{$n}) {
                background-color:mix($to, $from, percentage($n / $b));
            }
    }             
    
}

.title-before {
    &:before {
        content:attr(class);
        position:absolute;
        left:2px;
        top:-2em;
        text-transform:uppercase;
        color:#555;
        font-weight:bold;
        font-size:1.2em;
    }
}

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

$bg:#222;

* {box-sizing:border-box;}

body {
    background:$bg;
    font-family:'Montserrat',sans-serif;
    color:#fff;
    padding:4% 0;
    width:80%;
    max-width:84em;
    margin:0 auto;
    overflow-x:hidden;
}

h1 {
    text-align:center;
    margin-top:0;
    img {
        height:1em;
    }
}

h2 {
    text-transform:uppercase;
    color:#555;
    font-weight:bold;
    font-size:1.2em;
    margin:1.2em 0;
}

input {
    padding:0.9em 1.2em 0.7em 1.2em;
    font-family:'Montserrat',sans-serif;
    font-size:0.9em;
    border:none;
    background:#ccc;
    border-left:#444 solid 0.5em;
    transition:all 100ms ease-in;
    color:#222;
    &:focus {
        outline:0;
        border-left-width:1em;
    }
}

@media (max-width:1050px) {
    body {
        width:98%;
    }
    section {
        min-height:6em;
        margin-bottom:3em;
        &.mood {
            a img {
                height:2em;
                max-width:3em;
            }
        }
    }
    div.alert {width:80%;}
    .info {display:block;clear:both;margin-top:-1.5em;margin-bottom:2em;}
    a.submit {clear:both;}
    a.submit,.note {float:left;margin-right:2em;margin-bottom:5em;margin-top:0.5em;}
    article {
        span {
            &.date {clear:both;float:none;display:block;}
        }
    }
}
@media (max-width:800px) {
    section {
        min-height:4em;
    }
    article span.notes {display:block;margin-top:4px;}
}
@media (max-width:600px) {
    .info {
        font-size:0.8em;
        span.color {
            width:0.8em;
            margin-right:1em;
        }
    }
    a.submit,.note {font-size:0.8em;}
}

body::-webkit-scrollbar {background:$bg;width:6px;}
body::-webkit-scrollbar-track {background:rgba(255,255,255,0.1);border-radius:4px;margin:16px;}
body::-webkit-scrollbar-thumb {background:rgba(255,255,255,0.3);border-radius:4px;}